@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  /* background: #1c8ef9 !important; */
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1{
    font-size: 1.1rem;
}
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

a{
    text-decoration: none !important;
    color: #7f7d7d !important;
}
a:hover {
    color: rgba(17, 173, 234, 0.675) !important;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.login-app, .register-app .input-box {
    flex-direction: column;
    display: flex;
    margin-bottom: 8px;
    outline: none;
}

.input-box label{
    margin: 4px 0;
}

.input-box input {
    padding: 12px;
    border-radius: 4px;
    border: 2px solid lightgray;
}

input:focus {
    outline: none;
}

.btn {
    margin-top: 1.5rem;
    width: 100%;
    background: green !important;
    color: whitesmoke !important;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.register-app .links {
    text-align: center !important;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: .75rem;
}


.login-app, .register-app .line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before {
    content: 'Or';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  color: #8b8b8b;
  padding: 0 15px;
}

.icons {
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.icons .icon {
    cursor: pointer;
    transition: all .3s ease-in;
}
.icons .icon:hover {
    transform: scale(1.4);
}
.icons .icon:nth-child(1) {
    color: #1877F2;
}
.icons .icon:nth-child(2) {
    color: #1DA1F2;
}
.icons .icon:nth-child(3) {
    color: #d44638;
}
.icons .icon:nth-child(4) {
    color: #24292e;
}


/* .icons {
    position: relative;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    border-radius: 4px;
    margin-top: 14px;
}
a.facebook {
    color: #fff !important;
    background-color: #4267b2;
}

.facebook-icon,
img.google-img {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateX(-50%);
}
a.facebook .facebook-icon {
    height: 28px;
  width: 28px;
  color: #0171d3;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google {
    border: 2px solid #CACACA;
} */

